@font-face {
  font-family: 'almoni_dl_aaaregular';
  src: url('assets/fonts/almoni-dl-aaa-regular-webfont.eot');
  src: url('assets/fonts/almoni-dl-aaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/almoni-dl-aaa-regular-webfont.woff2') format('woff2'),
  url('assets/fonts/almoni-dl-aaa-regular-webfont.woff') format('woff'),
  url('assets/fonts/almoni-dl-aaa-regular-webfont.ttf') format('truetype'),
  url('assets/fonts/almoni-dl-aaa-regular-webfont.svg#almoni_dl_aaaregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'almoni_dl_aaalight';
  src: url('assets/fonts/almoni-dl-aaa-light-webfont.eot');
  src: url('assets/fonts/almoni-dl-aaa-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/almoni-dl-aaa-light-webfont.woff2') format('woff2'),
  url('assets/fonts/almoni-dl-aaa-light-webfont.woff') format('woff'),
  url('assets/fonts/almoni-dl-aaa-light-webfont.ttf') format('truetype'),
  url('assets/fonts/almoni-dl-aaa-light-webfont.svg#almoni_dl_aaalight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'almoni_dl_aaabold';
  src: url('assets/fonts/almoni-dl-aaa-bold-webfont.eot');
  src: url('assets/fonts/almoni-dl-aaa-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/almoni-dl-aaa-bold-webfont.woff2') format('woff2'),
  url('assets/fonts/almoni-dl-aaa-bold-webfont.woff') format('woff'),
  url('assets/fonts/almoni-dl-aaa-bold-webfont.ttf') format('truetype'),
  url('assets/fonts/almoni-dl-aaa-bold-webfont.svg#almoni_dl_aaabold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'almoni_dl_aaablack';
  src: url('assets/fonts/almoni-dl-aaa-black-webfont.eot');
  src: url('assets/fonts/almoni-dl-aaa-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/almoni-dl-aaa-black-webfont.woff2') format('woff2'),
  url('assets/fonts/almoni-dl-aaa-black-webfont.woff') format('woff'),
  url('assets/fonts/almoni-dl-aaa-black-webfont.ttf') format('truetype'),
  url('assets/fonts/almoni-dl-aaa-black-webfont.svg#almoni_dl_aaablack') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?16jq11');
  src:  url('assets/fonts/icomoon.eot?16jq11#iefix') format('embedded-opentype'),
  url('assets/fonts/icomoon.ttf?16jq11') format('truetype'),
  url('assets/fonts/icomoon.woff?16jq11') format('woff'),
  url('assets/fonts/icomoon.svg?16jq11#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}