footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 15px 0;
  background-color: #000;
  z-index: -1;

  .shell {
    max-width: 320px;
  }

  .form-holder {
    padding: 5px 0;
    @include flexbox;
    @include align-items(center);

    h3 {
      color: $green;
      font-size: 1.8rem;
      @include flex(0 0 40%);
    }

    .field {
      @include flex(0 0 40%);

      &.form-submit {
        @include flex(0 0 20%);
      }
    }

    input {
      border: none;
      background-color: #fff;
      padding: 0px 5px;
      width: calc(100% - 10px);
      line-height: 20px;
    }

    input[type="submit"] {
      background-color: $green;
      color: #000;
      font-family: $font-black;
      font-size: 1rem;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }

    .ajax-loader {
      position: absolute;
    }

    @include placeholder {
      color: #808285;
      font-size: 1.1rem;
      font-family: $font-light;
    }
  }

  .socials {
    position: relative;
    margin: 0px;
    padding: 0px 0px 0px 15px;
    @include flexbox;
    @include align-items(flex-end);
    @include flex(0 0 15%);
    @include justify-content(space-between);

    li {

      a {
        font-size: 2rem;
        color: #fff;

        &:hover {
          color: $green;
        }
      }
    }
  }

  .footer-text {
    font-size: 1.1rem;
    font-family: $font-light;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
  }
}

@media (max-width: 480px) {

  footer {
    width: calc(100% - 30px);

    .shell {
      @include flex-direction(column);

      .col {
        padding: 15px;
        text-align: center;
      }
    }
  }
}