footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 15px 0;
  background-color: #000;
  z-index: -1;

  .shell {
    max-width: 450px;
  }

  .form-holder {
    padding: 0px 0;
    @include flexbox;
    @include align-items(center);

    h3 {
      color: $green;
      font-size: 2rem;
      @include flex(1 1 100%);
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .field {
      @include flex(0 0 40%);

      &.form-submit {
        @include flex(0 0 20%);
      }
    }

    input {
      border: none;
      background-color: #fff;
      width: 100%;
      line-height: 20px;
      margin-bottom: 4px;
    }

    input[type="submit"] {
      background-color: $green;
      color: #000;
      font-family: $font-black;
      font-size: 1rem;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }

    .ajax-loader {
      position: absolute;
    }

    @include placeholder {
      color: #808285;
      font-size: 1.1rem;
      font-family: $font-light;
    }

    .field-desc {
      @include flex(1 1 100%);
      margin-bottom: 4px;
      justify-content: right;
      color: $grey;
      font-size: 1.2rem;
    }
  }

  .holder {

    padding-top: 0px ;
    @include flexbox;
    @include flex-direction(row nowrap);

  }


  .col{

    @include flex(0 0 50%);

    @include flexbox;
    @include flex-flow(row wrap);
    padding: 0 ;

    &.col-right{
      border-left: 2px solid #fff;
      padding-left: 18px;

      .holder-col{

        @include flex(1 1 100%);

        @include justify-content(space-between);

        &.holder-text{
          align-self: flex-start;
        }

        &.holder-social{
          align-self: flex-end;
        }
      }


      .footer-text {
        position: relative;
        width: 60%;

        font-size: 1.3rem;
        font-family: $font-bold;
        text-align: right;
        color: $grey;
        ;
      }

      .socials {
        @include flex(1 1 100%);

        padding-bottom: 0px;
        position: relative;
        margin: 0px;
        padding: 0px 0px 0px 10px;

        list-style:none;

        @include flexbox;
        @include justify-content(space-between);

        li {
          @include flex(0 0 10%);

          a {
            font-size: 2rem;
            color: #fff;

            &:hover {
              color: $green;
            }
          }
        }
      }
     }

    &.col-left{

      .newsletter-form {
        @include flex(1 1 100%);
        padding: 0 20px 0 0px;
        text-align: justify;

        .form-holder {
          @include flexbox;
          @include flex-flow(row wrap);
          padding: 0px 0 ;

          .field {
            @include flexbox;
            @include flex(1 1 100%);

            @include flex-flow(row nowrap);

            span {
              width: 100%;
            }

            input {
              padding: 2px 5px;
              @include transition-all(.2s);
            }

            &.form-submit {

              .email {
                @include flex(0 0 70%);
                width:100%;

                input {
                  max-width: 100%;
                  line-height: 1.6rem;
                }
              }

              input[type="submit"] {
                @include flex(0 0 30%);
                padding: 0;
                line-height: 1.6rem;
                font-size: 1.4rem;

                &:hover {
                  background-color: #fff;
                }
              }
            }

            &.field-name {
              @include flex(0 0 70%);

              input {
                max-width: 100%;
                line-height: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {

  footer {


    width: calc(100% - 30px);

    .shell {
      @include flex-direction(column);

      .col {
        padding: 15px;
        text-align: center;
      }
    }
  }
}