header {

  position: fixed;
  top: 0;
  z-index: 10;
  height: 70px;
  width: 100%;
  @include transition-all(.2s);

  .bg-holder {
    z-index: 0;
    @include transition-all(.5s);
    position: absolute;
    top: -20px;
    width: 100%;
    height: 70px;
    opacity: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+52,ffffff+100&1+0,0.5+52,0+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 52%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 52%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 52%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
  }

  .search-bar {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    padding: 20px 0;

    .btn-close {
      font-family: $icons;
      font-size: 3rem;
      color: #000;
      display: block;
      position: absolute;
      left: 10px;
      top: 50%;
      @include transform-translateY(-50%);
      @include transition(all, .2s, ease);
      z-index: 10;

      &:hover {
        color: $green;
        cursor: pointer;
      }
    }

    input[type="text"] {
      background-color: transparent;
      padding-right: 70px;
      padding-left: 30px;
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      font-weight: 300;
      font-size: 50px;
    }
  }

  &.affix {
    height: 55px;

    .navbar .main-nav li a {
      padding-top: 30px;
    }

    .bg-holder {
      opacity: 1;
      top: 0px;
      height: 90px;
    }
  }

  > .shell {
    z-index: 1;
    height: 100%;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);

    @media(max-width: 480px) {
      padding: 0;
      z-index: 100;
      width: 100%;
    }
  }

  ul {
    list-style: none;
  }

  .logo {
    position: absolute;
    right: -100px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .navbar {

    position: relative;

    @include flexbox;
    @include align-items(flex-end);

    width: 100%;
    max-width: 975px;
    height: 100%;

    .btn-search {
      position: absolute;
      left: -100px;
      background: none;
      color: #000;
      border: none;
      font-size: 2rem;
      padding: 0;
      @include transition(all, .2s, ease);

      &:hover {
        color: $green;
      }
    }

    .socials {
      position: relative;
      top: 5px;
      margin: 0px;
      padding: 0px 0px 0px 15px;
      @include flexbox;
      @include align-items(flex-end);
      @include flex(0 0 15%);
      @include justify-content(space-between);

      li {

        a {
          font-size: 2rem;
          color: #000;

          &:hover {
            color: $green;
          }
        }
      }
    }

    .main-nav {

      height: 100%;
      margin: 0px;
      padding: 0px 15px;
      font-family: $font-black;
      @include flexbox;
      @include flex(1 1 85%);
      @include justify-content(space-between);


      li {
        position: relative;
        height: 100%;
        overflow: visible;
        width: auto;
        padding: 0 10px;
        float: right;

        @include flexbox;
        @include align-items(center);
        @include justify-content(center);

        a {
          padding-top: 50px;
          position: relative;
          color: #000;
          font-size: 2rem;
          position: relative;

          &:before {
            @include transition-all(.25s);
            @include pseudoElement;
            bottom: 4px;
            right: 0px;
            width: 0%;
            height: 1px;
          }
          &:active,
          &:hover {
            color: $green;
            text-decoration: none;

            &:before {
              width: 100%;
              background-color: $green;
            }
          }
        }
      }
    }
  }
  /*  mobile header */
  @media (max-width: 480px) {
    @include flexbox;
    @include align-items(center);

    .shell {
      padding: 0px;
      width: 100%;

    }
    nav {
      display: block;
    }

    .navbar {
      .main-nav {
        @include flex-flow(wrap);
        background-color: rgba(0, 0, 0, .8);
        height: calc(100vh - 30px);
        width: 100%;

        li {
          width: 100%;
          @include align-items(flex-start);

          a {
            color: #fff;
            padding-top: 0px;
          }
        }
      }
    }
  }
}

.home {

  header {

    .bg-holder {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,3d3d3d+50,000000+100&0.7+1,0.32+51,0+86 */
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(1, 1, 1, 0.7) 1%, rgba(61, 61, 61, 0.33) 50%, rgba(60, 60, 60, 0.32) 51%, rgba(17, 17, 17, 0) 86%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(1, 1, 1, 0.7) 1%, rgba(61, 61, 61, 0.33) 50%, rgba(60, 60, 60, 0.32) 51%, rgba(17, 17, 17, 0) 86%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(1, 1, 1, 0.7) 1%, rgba(61, 61, 61, 0.33) 50%, rgba(60, 60, 60, 0.32) 51%, rgba(17, 17, 17, 0) 86%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
    }

    .navbar {

      .btn-search {
        color: #fff;
      }

      .main-nav,
      .socials {

        li {

          a {
            color: #fff;

            &:hover {
              color: $green;

              &:before {
                background-color: $green;
              }
            }
          }
        }
      }
    }
  }

}

$button-width: 62px; // The width of the button area
$button-height: 62px; // The height of the button area
$bar-thickness: 2px; // The thickness of the button bars
$bar-thickness-mobile: 2px; // The thickness of the button bars
$button-pad: 9px; // The left/right padding between button area and bars.
$button-bar-space: 6px; // The spacing between button bars
$button-transistion-duration: 0.3s; // The transition duration

/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */

.c-hamburger {
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  overflow: hidden;
  z-index: 9;
  margin: 0;
  @include transform-translateY(-50%);
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background $button-transistion-duration;
  background-color: $green;
  @include transition-all(.2s);

  @media (max-width: 480px) {

    padding-right: 15px;

  }

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.2);
  }

  &.is-active {
    background-color: #000;
  }

  span {
    display: block;
    position: absolute;
    @include centerXY;
    height: $bar-thickness;
    background: #000;
    width: 55%;
    margin: auto;
  }
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: #000;
  content: "";
}

.c-hamburger span::before {
  top: -$bar-thickness - $button-bar-space;
}

.c-hamburger span::after {
  bottom: -$bar-thickness - $button-bar-space;
}

/**
 * Style 2
 *
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */

.c-hamburger--htx {
}

.c-hamburger--htx span {
  transition: background 0s $button-transistion-duration;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: $button-transistion-duration, $button-transistion-duration;
  transition-delay: $button-transistion-duration, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */

.c-hamburger--htx.is-active {

}

.c-hamburger--htx.is-active span {
  background-color: transparent;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, $button-transistion-duration;
  background-color: #fff;
}

@media (max-width: 768px) {

  .c-hamburger {
    height: 38px;
    width: 38px;

    span {
      height: $bar-thickness-mobile;
    }
  }

  header {
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;

    @media(max-width: 480px) {
      padding-left: 0px;
      padding-right: 0px;

    }

    .logo {
      right: initial;
      left: 0px;
      top: 10px;
      padding: 10px;
      background-color: #fff;
    }

    &.affix {

      .navbar {

        .main-nav {

          li {

            a {
              padding-top: 0px;
            }
          }
        }
      }
    }

    .navbar {

      .main-nav {

        li {
          height: initial;
          @include align-items(center);

          a {
            padding-top: 0px;
          }
        }
      }
    }
  }

  .home {

    header {

      .logo {
        background-color: #000;
      }
    }
  }
}