@media (max-width: 1024px) {

  header {

    .shell {
      width: calc(100% - 30px);
      padding-left: 15px;
      padding-right: 15px;
    }
  }


}

@media (max-width: 768px) {

  .c-hamburger {
    display: block;
  }

  .show-mobile {
    display: block !important;
  }

  .hide-mobile {
    display: none !important;
  }

  header {

    .bg-holder {
      display: none;
    }

    .navbar {

      .socials {
        @include transition-all(.3s);
        display: -webkit-flex !important;
        display: flex !important;
        position: fixed;
        bottom: -40px;
        top: initial;
        background-color: $green;
        height: 40px;
        right: 0px;
        width: 100%;
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-around);
        -webkit-transition-delay: .2s;
        transition-delay: .2s;

        li a {
          color: #000;
        }
      }

      .main-nav {

        @include justify-content(center);
        right: -1000px;
        -webkit-order: 1;
        order: 1;
        @include flex-direction(row);
        @include transition(all, .6s, ease);

        position: absolute;
        width: 100%;
        top: 0px;
        padding: 20px;
     //   background-color: rgba(0, 0, 0, 1);
        -webkit-transition-delay: .5s;
        transition-delay: .5s;

        &.is-active {
          right: 0px;

          + .socials {
            bottom: 0px;
            -webkit-transition-delay: .2s;
            transition-delay: .2s;
          }
        }

        li {
          height: 20px;

          a {
            padding-top: 0px;
            padding-right: 0px;
            font-size: 2rem;
          }
        }
      }
    }
  }

  section {

    &.section-albums {

      .item {
        @include flex(0 0 47%);
      }
    }

    &.section-feed-2cols {

      .col {
        @include flex(0 0 100%);
        max-width: 100%;
      }
    }

    &.section-shows-slider {

      .item {
        margin: 0px;
      }
    }
  }
}

@media (max-width: 768px) and (min-width: 480px) {

}

@media (max-width: 480px) {

  header {
    @include flexbox;
    @include align-items(center);

    .shell {
      padding: 0px;
    }

    nav {
      display: block;
    }
  }

  section {

    .shell {
      width: calc(100% - 30px);
    }

    &.section-slider {

    }
  }
}