/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* Variables */
$green: #87e4c2;
$grey: #808285;
$icons: 'Material-Design-Iconic-Font';
$font-light: 'almoni_dl_aaalight';
$font-reg: 'almoni_dl_aaaregular';
$font-bold: 'almoni_dl_aaabold';
$font-black: 'almoni_dl_aaablack';

html {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  background-color: #fff;
  font-family: $font-reg;
  margin: 0;
  padding: 150px 0 0px 0;
  margin-bottom: 150px;
  color: #000;
  width: 100%;
  overflow-x: hidden;
  direction: rtl;

  &.home {
    padding-top: 0px;
  }
}

a {
  text-decoration: none;
  color: #000;
  @include transition-all(.2s);
}

.wrapper {
  width: 100%;
  margin: 0px;
}

.cf:before,
.cf:after {
  display: table;
  content: ' ';
}

.cf:after {
  clear: both;
}

.show-mobile {
  display: none !important;
}

.hide-mobile {
  display: inherit !important;
}

.shell {
  max-width: 960px;
  width: 100%;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-black;
}

.wrapper {

}

.ico {
  display: block;
  @include transition-all(.2s);

  &.ico-arrow-down {
    width: 40px;
    height: 40px;
    background: url('assets/images/ico-arrow.png') no-repeat center;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}

section {
  width: 100%;
  display: block;
  position: relative;
  font-size: 1.5rem;
  padding: 80px 0;
  z-index: 1;
  background-color: #fff;
  @include transition-all(.2s);

  .cta {
    font-family: $font-black;
    font-size: 1.8rem;
    color: #000;
    background-color: $green;
    margin-top: 20px;
    padding: 0 15px;
    @include transition-all(.2s);

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  .shell {
    display: block;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 735px;
    padding: 0 15px;

    h2 {
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 2.2rem;

      &.large {
        font-size: 3.6rem;
        line-height: 3.8rem;
      }
    }
  }

  &.section-shows-slider {

    .shows-slider-holder {
      direction: ltr;
    }

    .section-header {

      h2 {
        background-color: #000;
        color: #fff;
        font-size: 3.9rem;
        display: inline-block;
        padding: 0 5px;
        margin-bottom: 30px;
      }

      .cta {
        display: inline-block;
        margin: 0px 10px 0 0;
        position: relative;
        top: 6px;
      }
    }

    .slick-arrow {
      border: none;
      font-size: 0px;
      width: 40px;
      height: 40px;
      background: transparent url('assets/images/ico-arrow.png') no-repeat center;
      position: absolute;
      top: 50%;
      z-index: 2;
      @include transition-all(.2s);
      @include transform-translateY(-50%);

      &:focus {
        outline: none;
      }

      &:hover {
        cursor: pointer;
        opacity: .6;
      }

      &.slick-next {
        right: 0px;
      }

      &.slick-prev {
        left: 20px;
        -webkit-transform: translateY(-50%) rotate(-180deg);
        transform: translateY(-50%) rotate(-180deg);
      }
    }

    .item {
      @include aspect-ratio(1, 1);
      margin: 0 0px 0 20px;

      .holder {
      }

      .image {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-size: cover;
      }

      .text {
        position: absolute;
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        @include transition(top, .5s, ease);
        z-index: 1;
        background-color: rgba(0, 0, 0, .5);
        top: 100%;
        width: 100%;
        height: 100%;
      }

      .name-artist {
        font-family: $font-black;
        color: $green;
        font-size: 2.6rem;
      }

      .venue {
        font-family: $font-light;
        color: #fff;
        font-size: 2.1rem;
      }

      .date {
        font-family: $font-bold;
        color: $green;
        font-size: 1.5rem;
      }

      &:hover {

        .text {
          top: 0%;
        }
      }
    }
  }

  &.section-feed-2cols {
    padding: 20px 0;

    .shell {
      @include flexbox;
    }

    .col {
      @include flex(0 0 50%);
      max-width: calc(50% - 35px);

      h2 {
        background-color: #000;
        color: #fff;
        font-size: 3.9rem;
        display: inline-block;
        padding: 0 5px;
        margin-bottom: 30px;
      }

      .cta {
        display: inline-block;
        margin: 0px 10px 0 0;
        position: relative;
        top: 6px;
      }

      &:first-child {
        padding-left: 35px;
      }

      &:last-child {
        padding-right: 35px;
      }

      &.news {

        .item {
          padding: 40px 0;
          @include flexbox;
          border-bottom: 1px solid #939597;

          &:first-child {
            padding-top: 0px;
          }

          &:last-child {
            padding-bottom: 0px;
            border-bottom: none;
          }
        }

        .image {
          margin: 0;
          background-size: cover;
          @include aspect-ratio(1, 1);
          @include flex(0 0 35%);
        }

        .content {
          @include flex(0 0 65%);

          .date {
            font-family: $font-bold;
            font-size: 1.4rem;
            color: #939597;
          }
        }

        h3 {
          font-size: 2.4rem;
          margin-top: 5px;
          margin-bottom: 0px;

          b {
            font-family: $font-black;
          }
        }

        .text {
          font-size: 1.5rem;
          color: #939597;
          font-family: $font-light;
        }

        h3,
        .date,
        .text {
          padding-right: 10px;
        }
      }

      &.video-clips {

        .items {

          .item {
            position: relative;
            display: block;
            margin-bottom: 40px;

            &:before {
              width: 100%;
              height: 100%;
              z-index: 1;
              @include pseudoElement;
              background: url('assets/images/ico-play.png') no-repeat center center;
            }

            &:last-child {
              margin-bottom: 0px;
            }

            .image {
              @include aspect-ratio(9, 4);
              background-size: cover;
              background-position: center;
              overflow: hidden;
            }

            .text {
              position: absolute;
              bottom: -100px;
              padding: 5px;
              background-color: rgba(0, 0, 0, .5);
              @include transition(bottom, .3s, ease);
              @include flexbox;
              @include flex-direction(column);
              width: 100%;
              text-align: center;

              .artist-name {
                color: $green;
                font-family: $font-black;
              }

              .vid-name {
                color: #fff;
                font-family: $font-light;
              }
            }

            &:hover {

              .text {
                bottom: 0px;
              }
            }
          }
        }
      }
    }
  }

  &.section-albums {
    padding: 0px;

    .section-title {

      h2 {
        background-color: #000;
        color: #fff;
        font-size: 3.9rem;
        display: inline-block;
        padding: 0 5px;
      }
    }

    .section-body {
      padding: 20px 0;
      @include flexbox;
      @include justify-content(space-between);
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
    }

    .item {
      margin: 10px 0;
      width: 33.333%;
      @include flex(0 0 31.5%);
      @include aspect-ratio(1, 1);
      overflow: hidden;

      .image {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
      }

      .text {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        top: 100%;
        left: 0px;
        color: #fff;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);
        @include transition(top, .8s, ease);

        .name-artist {
          font-family: $font-black;
          font-size: 4.1rem;
          color: $green;
          line-height: 4rem;
        }

        .name-album {
          font-family: $font-light;
          font-size: 3.1rem;
          line-height: 4rem;
        }

        .date {
          font-family: $font-bold;
          font-size: 2.3rem;
          color: $green;

          span {
            font-family: $font-reg;
            margin-right: 4px;
          }
        }
      }

      &:hover {

        .text {
          top: 0%;
        }
      }
    }
  }

  &.section-artists {

    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @include flex(1 1 10%);

    nav#links {
      position: absolute;
      top: 0px;
      right: -60px;
    }

    .alphabet-scale {
      position: absolute;
      @include transition-all(.1s);
      @include flexbox;

      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      padding: 0;
      margin: 0px;
      width: 5px;
      right: 0px;
      list-style: none;
    }

    .letter {
      @include flex(0 0 100%);
      @include transition-all(.2s);
      color: $grey;

      a {
        position: relative;
        @include transition-all(.2s);
        padding: 7px 2px 5px 2px;
        margin: 5px auto 2px;
        line-height: 10px;
        display: inline-block;

        &:before {
          @include pseudoElement;
          height: 1px;
          width: 100%;
          bottom: -4px;
          background-color: $grey;
        }

      }

      &:last-child {

        a {

          &:before {
            display: none;
          }
        }
      }

      &:hover {

        span {
          cursor: pointer;
          background-color: $green;
          font-family: $font-black;
          color: #000;

          &:before {
            background-color: #000;
          }
        }
      }

    }

    .section-title {

      h2 {
        background-color: #000;
        color: #fff;
        font-size: 3.9rem;
        display: inline-block;
        padding: 0 5px;
      }
    }

    .section-body {
      position: relative;
      padding: 20px 0;

      &.affix {

        .alphabet-scale {
          position: fixed;
          right: auto;
          top: 100px;
        }
      }
    }

    .items {
      @include flexbox;
      @include justify-content(space-between);
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
    }

    .item {
      margin: 0;
      @include flex(0 0 21%);
      overflow: hidden;

      .image {
        background-size: cover;
        @include aspect-ratio(1, 1);

        .holder {
          background-size: cover;
        }
      }

      .text {
        padding: 10px 20px;
        color: $grey;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);

        .name-artist {
          font-family: $font-black;
          font-size: 1.8rem;
          color: $grey;
          line-height: 2rem;
        }
      }

      &:hover {

        .name-artist {
          color: #000;
          background-color: $green;
        }
      }
    }
  }

  &.section-about {
    padding: 40px 0px;
    @include flexbox;
    @include justify-content(space-between);
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    .section-title {

      h2 {
        background-color: #000;
        color: #fff;
        font-size: 3.9rem;
        display: inline-block;
        padding: 0 5px;
      }
    }

    .shell {
      @include flexbox;
      flex-flow: row;
      max-width: 780px;
      justify-content: center;

      span {
        color: $grey;
      }

      .col {
        @include flex(0 0 50%);
      }

      .col-right {

      }

      .col-left {

        .holder {
          background-color: #000;
          padding: 30px 50px 20px 50px;
        }

        .form-holder {
          @include flexbox;
          @include justify-content(flex-start);
          @include flex-flow(row wrap);
          font-size: 1.4rem;

          .ajax-loader {
            position: absolute;
          }

          h3 {
            display: inline-block;
            background-color: #000;
            color: $green;
            font-size: 2rem;
            justify-content: flex-start;
            padding: 0px;
            margin-top: 0px;
          }

          @include placeholder {
            color: #a3a3a3;
          }

          .field {
            width: 100%;
          }

          textarea,
          input {
            border: none;
            padding: 2px 10px;
            font-size: 1.2rem;
            width: 100%;
          }

          .wpcf7 input[type="text"],
          .wpcf7 input[type="email"] {
            justify-content: flex-start;
            background-color: #fff;
            color: #000;
            border: none;
          }

          input[type=submit] {
            color: #000;
            font-family: $font-black;
            font-size: 0.8em;
            background-color: $green;
            border: none;
            justify-content: flex-end;
            width: 100%;
            @include transition-all(.2s);

            &:hover {
              background-color: #fff;
              color: #000;
            }
          }
        }
      }

      .newsletter-form {
        padding-bottom: 30px;
        border-bottom: 2px solid $green;

        .form-holder {

          .field {
            @include flexbox;

            span {
              width: 100%;
              max-width: 70%;
            }

            &.form-submit {

              .email {
                @include flex(0 0 70%);

                input {
                  max-width: 100%;
                }
              }

              input[type="submit"] {
                @include flex(0 0 30%);
                padding: 0;
              }
            }
          }
        }

        .field-desc {
          margin-bottom: 10px;
          justify-content: center;
          @include flex(0 0 100%);
        }

        .field-name {
          padding-bottom: 4px;
          width: 60%;
          justify-content: flex-start;
        }

        .field-send-email {
          justify-content: flex-start;
          padding: 0px 0px 3px;

          @include flexbox;
          flex-flow: row nowrap;

          margin-bottom: 20px;

          border-bottom: 2px solid $green;

        }
      }

      .contact-form {
        padding-top: 14px;
        @include flex-flow(row wrap);
        padding-bottom: 15px;
        border-bottom: 2px solid $green;

        h3 {
          margin-top: 0px;
          margin-bottom: 5px;
        }

        .field {
          position: relative;
          width: 100%;
          margin-bottom: 10px;

          &.form-submit {
            margin-bottom: 0px;
          }

          &.nl-checkbox {

            .custom-checkbox {
              position: absolute;
              width: 15px;
              height: 15px;
              display: block;
              background-color: #fff;
              content: '';
              top: 2px;
            }

            .newsletter {
              width: 100%;
              display: block;

              .wpcf7-list-item {
                width: 100%;
                margin: 0px;
              }

              label {
                @include flexbox;
                margin: 0px;
                position: relative;

                input {
                  @include flex(0 0 15px);
                  opacity: 0;
                  position: initial;
                  z-index: 1;

                  &:checked {

                    + .wpcf7-list-item-label {

                      &:before {
                        background-color: $green;
                      }
                    }
                  }
                }

                .wpcf7-list-item-label {
                  @include flex(0 0 calc(100% - 15px));
                  padding-right: 10px;
                  position: relative;

                  &:before {
                    content: '';
                    display: block;
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    right: -15px;
                    top: 2px;
                    background-color: #fff;
                  }
                }
              }
            }
          }
        }

        .wpcf7-textarea {
          height: 80px;
          width: 100%;
          font-size: 1rem;
          resize: none;
        }
      }

      .section-footer {

        .socials {
          position: relative;
          margin: 0px;
          padding: 0px 100px 0px 100px;

          @include flexbox;
          @include align-items(flex-end);
          @include flex(0 0 15%);
          @include justify-content(space-between);

        }

        a {
          color: $green;
        }
        .section-footer-text{
          color: $grey;
          font-size: 1.2rem;
          font-family: $font-bold;
          text-align: right;
          padding-top: 10px;

        }
      }



    }

  }
  &.section-banner {
    padding: 120px 0px 0px 0px;
    min-height: 640px;

    .slider-texts-holder {
      direction: ltr;
      z-index: 1;
      max-width: 930px;
      margin: auto;

      .shell {
        padding: 0;
      }

      .item {
        width: 100%;

        .shell {
          @include flexbox;
          @include flex-direction(column);
          @include justify-content(flex-end);
          @include align-items(flex-end);
        }

        .holder {
          color: #fff;
          direction: rtl;
          max-width: 600px;
          padding: 0 0px 70px 0;

          h2 {
            font-family: $font-black;
            font-size: 7rem;
            display: block;
            margin-top: 20px;
            margin-bottom: 0px;
          }

          h3 {
            font-family: $font-light;
            font-size: 4.6rem;
            font-weight: 400;
            margin: 0px 0px 10px 0px;
          }

          .read-more {
            font-family: $font-black;
            background-color: $green;
            color: #000;
            padding: 2px 15px;

            &:hover {
              color: $green;
              background-color: #000;
            }
          }
        }

        &:focus {
          outline: none;
        }
      }
    }

    .slider-holder {
      z-index: 0;
      position: absolute;
      direction: ltr;
      top: 0px;
      width: 100%;
      height: auto;

      .slick-track,
      .slick-list {
        height: auto;
      }

      .item {
        height: auto;
        min-height: 680px;
        display: block;
        background-size: cover;
        background-position: center;
      }
    }

    .artists {
      direction: ltr;
      margin: auto;
      max-width: 530px;
      position: relative;
      height: 170px;
      z-index: 2;
      display: block;
      padding: 15px 100px 0;
      background-color: rgba(0, 0, 0, .5);

      .cta {
        position: absolute;
        bottom: -40px;
        left: 0px;
        background: $green;
        font-family: $font-black;
        padding: 0 15px;

        &:hover {
          background-color: #000;
          color: #fff;
        }
      }

      .col {
        direction: ltr;
      }

      a {
        text-align: right;
        direction: rtl;
        display: block;
        margin: 10px 0;
        font-family: $font-black;
        font-size: 1.6rem;

        span {
          @include transition-all(.2s);
          color: #fff;
          padding: 0 5px;
        }

        &:hover {

          span {
            background-color: $green;
            color: #000;
          }
        }
      }

      .slick-arrow {
        border: none;
        font-size: 0px;
        width: 40px;
        height: 40px;
        background: transparent url('assets/images/ico-arrow.png') no-repeat center;
        position: absolute;
        top: 50%;
        @include transition-all(.2s);
        @include transform-translateY(-50%);

        &:focus {
          outline: none;
        }

        &:hover {
          cursor: pointer;
          opacity: .6;
        }

        &.slick-next {
          right: -70px;
        }

        &.slick-prev {
          left: -70px;
          -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
        }
      }
    }

    .slick-dots {
      position: absolute;
      bottom: 55px;
      left: 50%;
      @include transform-translateX(-50%);
      list-style: none;
      @include flexbox;
      padding: 0;

      &:after {
        content: '';
        width: 40px;
        height: 40px;
        background: url('assets/images/ico-arrow.png') no-repeat center;
        display: block;
        position: absolute;
        bottom: -70px;
        left: 50%;
        z-index: 1;
        -webkit-transform: translateX(-50%) translateY(-20px) rotate(90deg);
        transform: translateX(-50%) translateY(-20px) rotate(90deg);

        &:hover {
          transform: translateX(-50%) translateY(-25px) rotate(90deg);
        }
      }

      button {
        margin: 0 5px;
        background: none;
        font-size: 0px;
        border-radius: 100%;
        border: none;
        width: 15px;
        height: 15px;
        background-color: $green;

        &:focus {
          outline: none;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .slick-active button {
        background-color: #fff;
      }
    }
  }

  &.section-albums-by-year {
    padding: 0px;

    .section-title {

      h2 {
        background-color: #000;
        color: #fff;
        font-size: 3.9rem;
        display: inline-block;
        padding: 0 5px;
      }
    }

    .albums-slider{
      width: 100%;
      background-color: green;
    }

    .holder{
      @include flexbox;
      @include flex-flow(row wrap);

    }
    nav#nav-cat {
      @include flex(1 1 100%);

      width: 100%;
      position: relative;
      top: 0px;
      right: 0px;

    }

    .cat-type {

      padding: 0;
      margin: 0px;
      width: 100%;
      right: 0px;
      list-style: none;
      background-color: red;
    }

    nav#links {
      position: absolute;
      top: 0px;
      right: -60px;
    }

    .year-scale {
      position: absolute;
      @include transition-all(.1s);
      @include flexbox;

      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      padding: 0;
      margin: 0px;
      width: 5px;
      right: 0px;
      list-style: none;
    }

    .year {
      @include flex(0 0 100%);
      @include transition-all(.2s);
      color: $grey;

      a {
        position: relative;
        @include transition-all(.2s);
        padding: 7px 2px 5px 2px;
        margin: 5px auto 2px;
        line-height: 10px;
        display: inline-block;

        &:before {
          @include pseudoElement;
          height: 1px;
          width: 100%;
          bottom: -4px;
          background-color: $grey;
        }

      }

      &:last-child {

        a {

          &:before {
            display: none;
          }
        }
      }

      &:hover {

        span {
          cursor: pointer;
          background-color: $green;
          font-family: $font-black;
          color: #000;

          &:before {
            background-color: #000;
          }
        }
      }

    }



    .section-body {
      position: relative;
      padding: 20px 0;

      &.affix {

        .year-scale {
          position: fixed;
          right: auto;
          top: 100px;
        }
      }
    }

    .items {

    @include flex (1 1 100%);

      @include flexbox;
      @include justify-content(space-between);
      @include flex-flow( row wrap) ;
    }

    .item {
      margin: 0;
      @include flex(0 0 21%);
      overflow: hidden;

      .image {
        background-size: cover;
        @include aspect-ratio(1, 1);

        .holder {
          background-size: cover;
        }
      }

      .text {
        padding: 10px 20px;
        color: $grey;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);

        .name-artist {
          font-family: $font-black;
          font-size: 1.8rem;
          color: $grey;
          line-height: 2rem;
        }
      }

      &:hover {

        .name-artist {
          color: #000;
          background-color: $green;
        }
      }
    }

  }
}

.wpcf7-response-output {
  border: none !important;
  position: absolute;
  bottom: 5px;
  font-size: 1.2rem !important;
}

span.wpcf7-not-valid-tip {
  border: none !important;
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-size: 1rem !important;
}